@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: Norse;
    src: url("../fonts/Norse-Bold.otf");
}

:root {
    --main-font: 'Lato', sans-serif;
    --col-width: 50ch;
}

:root.light {
    --image: url("../imgs/lux.jpg");  
    --background-color: #f5f4f4;
    --card-color: white;
    --text-color: black;
    --accent-color: #3d5067;
}

:root.dark {
    --image: url("../imgs/nox.jpg");  
    --background-color: #3b3b3b;
    --card-color: rgb(29, 29, 29);
    --text-color: white;
    --accent-color: #57415e;
}


body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: var(--text-color);

    font-family: var(--main-font);
}

.splash {
    background-image: var(--image);
    background-size: cover;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    padding-top: 2rem;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow-y: scroll; */
}

.logo-banner {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0rem;
    margin-top: 20vh;
}

.logo-banner > img {
    height: clamp(2rem, 15vw, 6rem);
    max-height: 100px;
    opacity: 1;
}

.logo-banner > p {
    font-family: Norse;
    color: white;
    opacity: 1;
    font-size: clamp(2rem, 15vw, 6rem);
    margin: 0rem 0rem;
}

.photo-credit {
    color: white;
    margin-top: auto;
}

.photo-credit > a {
    color: white;
    font-weight: 400;
    text-decoration: underline;
}

.big-paragraph {
    max-width: var(--col-width);
    font-weight: bold;
    font-size: clamp(1.2rem, 6vw, 1.5rem);
    margin: 0px;
    margin-bottom: 2rem;
}

form {
    margin: 2rem 0rem;
    padding: 1rem 0rem 3rem 3rem;
    background-color: var(--card-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

form > div {
    max-width: var(--col-width);
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 3rem;
}

label {
    display: block;
    margin-bottom: 1px;
    font-variant-caps: all-small-caps;
    letter-spacing: .1rem;
}

input {
    display: block;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}


input:focus {
    outline: 2px solid #92ceff;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.content > div {
    padding: 0rem 3rem;
}

button {
    padding: 1rem 3rem;
    color: white;
    background-color: var(--accent-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

button:hover {
    filter: brightness(130%);
}

button:active {
    transform: scale(0.96);

}

a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

button#theme-toggle {
    margin: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    right:0px;
    background-color: transparent;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    border-radius: 0px;
    font-size: 1.5rem;
}

@media (orientation: portrait) {
    body {
        display: block;
    }

    .logo-banner {
        margin-top: 10vh;
    }

    .content {
        overflow: auto;
    }
}
