@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: Norse;
    src: url("../fonts/Norse-Bold.otf");
}

:root {
    --main-font: 'Lato', sans-serif;
    --col-width: 50ch;
}

body {
    background-color: #f5f4f4;
    display: flex;
    flex-direction: row;
    height: 100vh;

    font-family: var(--main-font);
}

.splash {
    background-image: url("../imgs/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-banner {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0rem;
    margin-top: 20vh;
}

.logo-banner>img {
    max-height: 100px;
    opacity: 1;
    
}

.logo-banner>p {
    font-family: Norse;
    color: white;
    opacity: 1;
    font-size: 6rem;
    margin: 0rem 0rem;
}

.photo-credit {
    color: white;
    margin-top: auto;
}

.photo-credit > a {
    color: white;
}

.big-paragraph {
    max-width: var(--col-width);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0px;
    margin-bottom: 2rem;
}

form {
    margin: 2rem 0rem;
    padding: 1rem 0rem 3rem 2rem;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

form > div {
    max-width: var(--col-width);
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 3rem;
}

label {
    display: block;
    margin-bottom: 1px;
    font-variant-caps: all-small-caps;
    letter-spacing: .1rem;
}

input {
    display: block;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

input:focus {
    border: 2px solid #92ceff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.content > div {
    padding-left: 2rem;
}

button {
    padding: 1rem 3rem;
    color: white;
    background-color: #596D48;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: #6a8155;
}

button:active {
    transform: scale(0.96);

}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}